<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/demo/favicon.ico">
    <title>登录界面</title>
    <script src="/demo/js/vue.min.js"></script>
</head>
<body>
<div id="app">
    用户名：<input v-model="username" placeholder="请输入内容" value="{count}"></input>
    密　码：<input v-model="password" placeholder="请输入内容" value="{count}"></input>
    <button onclick="showInput();">登录</button>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return { username: '' , password: ''}
        }
    })

    const vm = app.mount('#app');

    function showInput(){
        alert(vm.username + ':' + vm.password);
    }
</script>
</body>
</html>